@charset "utf-8";

body {
  background-color: rgb(248,248,255);
  color: #424242;
  margin: 1em 2em;
  font-size: 100%;
  font-family: Verdana, Arial, sans-serif
}

a {
  color: #210B61;
}

p, li {
  text-align: justify;
}

img {
  margin: 0;
  padding:0 ;
}

h1, h2, h3, h4, h5, h6{
  background-color: transparent;
  color: #6E6E6E;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 140%;
}

hr {
  background-color: transparent;
  color: rgb(47,79,79);
  border: 1px solid rgb(47,79,79);
}

pre {
  background-color: #E0E6F8;
  color: rgb(0,0,0);
  padding: 0.5em;
  margin-top: 0.25em;
  border: 3px #F6CEEC inset;
}

pre code {
  font-family: Consolas, Courier, monospace;
}

code {
	font-size: 1em;
}

p.fuentes {
	margin: 0;
	padding: 0;
}

p.fuentes input {
	padding: 0.1em 1em;
	margin: 0 1em 0 0;
}

p.fuentes input.der {
  float: right;
  font-size: 1em;
  font-style: oblique;
  margin: 0.5em 2em;
  padding: 0.25em 0.75em;
}

table {
  width: 50%;
  border: 1px #800000 solid;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

td {
  width: 50%;
  border: 1px #800000 solid;
  text-align: left;
}

th {
  background-color: white;
  width: 50%;
  border: 1px #800000 solid;
  font-family: Arial, sans-serif;
}

span.elemento {
  color: #2E3B0B;
  font-family: Consolas, Courier, monospace;
  font-weight: bold;
  font-size: 1.1em;
}

span.atributo {
  color: #5E610B;
  font-family: Consolas, Courier, monospace;
  font-weight: bold;
  font-size: 1.1em;
}

span.entidad {
  color: #0B615E;
  font-family: Consolas, Courier, monospace;
  font-weight: bold;
  font-size: 1.1em;
}

strong.marcado {
  color: #610B0B;
  font-weight: bold;
  font-size: 1.05em;
  font-family: Consolas, Courier, monospace;
}

div.pie {
  margin: 1.5em 0;
}

div.pie hr {
  color: #A4A4A4;
  border: 1px solid #A4A4A4;
}

div.pie p {
  float: right;
  width: 80%;
text-align: right;
}

div.pie img {
  margin-left: 1em;
  vertical-align: middle;
}

div.pie p.left {
	float: left;
	width: 18%;
	text-align: left;
	font-style: italic;
	font-size: 0.8em;
}

